<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css')}}">
    <title>Recipe</title>
</head>
<body>
    <div class="bg-dark col-6">
        <h1 class="text-center text-light">{{ recipe.name }}</h1>
        <p class="text-center text-light">Description: {{ recipe.description }}</p>
        <p class="text-center text-light">Under 30 minutes: {{ recipe.under30 }}</p>
        <p class="text-center text-light">Instructions: {{ recipe.instructions }}</p>
        <p class="text-center text-light">Date Made: {{ recipe.datemade }}</p>
    </div>
    <a href="/dashboard" class="btn btn-warning">Dashboard</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
</body>
</html>